src/main/java/org/example/datalake/result_mc2depi.mtx filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
src/main/java/org/example/datalake/mc2depi.mtx filter=lfs diff=lfs merge=lfs -text
